Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@sk-1-8 
sk-1-8
/
pokefuka
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
pokefuka/style.css
@sk-1-8
sk-1-8 Create style.css
Latest commit 3de4cd9 10 minutes ago
 History
 1 contributor
93 lines (75 sloc)  1.32 KB
  
@media screen and (min-width:781px){

  .header {
    height: 200px;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header p {
    margin-left: 50px;
    font-size: 25px
  }

  .header h1 {
    font-size: 40px
  }

  .main {
    margin: 70px 100px;
    text-align: center;
  }

  span {
    color: red;
  }

  #egg {
    margin: 50px 0 100px 0;
  }

  #graph {
    margin: 0 0 50px 0;
  }

  .main p,ul {
  text-align: center;
  }

  form {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    padding: 0 10px 30px 10px;
    font-size: 35px;
  }

  input {
    width: 350px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: 3px solid black;
  }

  .hatching_text, .result_text {
    margin-bottom: 0;
  }

  #btn_id {
    background-color: #ef454a;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 30px auto;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 7px 0 #d1483e;
    user-select: none;

  }

  #btn_id:hover {
    opacity: 0.8;
  }

  #btn_id:active {
    box-shadow: 0 3.5px 0 #d1483e;
    margin-top: 33.5px;
  }

}

© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
